{% extends "base.html" %}
{% block title %}
收支明细
{% endblock %}
{% block content %}
<div id="menu">
<div class="panel list-group">
 <a href="#" class="list-group-item" data-toggle="collapse" data-target="#sm" data-parent="#menu">MESSAGES <span class="label label-info">5</span> <span class="glyphicon glyphicon-envelope pull-right"></span></a>
 <div id="sm" class="sublinks collapse">
  <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> inbox</a>
  <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> sent</a>
 </div>
 <a href="#" class="list-group-item" data-toggle="collapse" data-target="#sl" data-parent="#menu">TASKS <span class="glyphicon glyphicon-tag pull-right"></span></a>
 <div id="sl" class="sublinks collapse">
  <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> saved tasks</a>
  <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> add new task</a>
 </div>
 <a href="#" class="list-group-item">ANOTHER LINK ...<span class="glyphicon glyphicon-stats pull-right"></span></a>
</div>
</div>

<script type="text/javascript" src="../static/js/build/bundle.js"></script>

{% endblock %}

